@import url('https://fonts.googleapis.com/css?family=Raleway');

/* REUSABLE STYLE */

.fancy-type {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* LANDING PAGE */
