// import any scss files you create (in the public/scss folder) here so your application can use them!

// Learn SASS Documentation: https://sass-lang.com/guide
// SASS Reference: https://sass-lang.com/documentation/file.SASS_REFERENCE.html

// See an example import below
// @import './component.scss';

body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}
