body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('./images/Business-background-backgrounds-business-background-image-PixTeller.png');
}

#footer {
  position: fixed;
  bottom: 0mm;
  width: 110%;
  height: 400px;
}

#logo {
  top: 180px;
  left: 500px;
  color: darkcyan;
  font-style: unset;
  font-family: fantasy;
  font-size: x-large;
  text-align: center;
  box-sizing: unset;
  display: flex;
  position: relative;
  flex-flow: column-reverse;
}
#getstartedimg {
  bottom: 20px;
  width: 1100px;
}
a.item {
  height: 100%;
}

#getstartedbutton {
  position: absolute;
  top: 300px;
  right: 100px;
}

button#webcam-button {
  position: absolute;
  top: 200px;
}

#signupform {
  bottom: 130px;
}

#signupbackground {
  width: 400px;
  display: grid;
  justify-content: center;
}

#loginform {
  bottom: 200px;
}
div.field {
  width: 200px;
}

#rightnavbar {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}

#navbar {
  width: 100%;
  margin-left: unset !important;
  margin-right: unset !important;
}

#welcom {
  position: relative;
  bottom: 30px;
}
@font-face {
  font-family: myFirstFont;
  src: url(GallaudetRegular.ttf);
}

.signFont {
  font-size: 200px;
  color: white;
  font-family: myFirstFont;
}
