body {
  font-family: sans-serif;
  color: #FE9002;
}
html, body{
  height:100vh;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

ul {
  list-style-type: none;
}

a:link, a:visited, a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #FE9002;
  text-decoration: none;
  transition:0.25s all;
}

form div {
  margin: 1em;
  display: inline-block;
}

.center-text {
  text-align: center;
}

/************************ NAVBAR ***********************/

#nav-bar-logo.navbar-brand{
  width: auto;
  height: 60px;
  padding: 0;
  cursor: pointer;
}

.navbar {
  background-color: white;
  background-image: none;
  margin:0;
  height:65px;
}

.navbar-nav {
  float: none;
  flex-direction: row;
  margin-top:10px;
}

.navbar-text{
  transition:0.25s all;
}

.navbar-collapse{
  display:flex;
}

.navbar>.container{
  flex-wrap:nowrap;
  max-width:none;
  margin-top:10px;
}
.navbar-search {
  position: absolute;
  top:10px;
}
.dropdown.open > .dropdown-menu{
  display: block;
  position:absolute;
  top:99%;
}

/*********************** HOME ***************************/
div.home-jumbotron {
  background-color: #FE9002;
  text-align: center;
  color: white;
  height: 200px;
  width: 100%;
  margin-bottom: 5em;
}

div#welcome-text {
  position: relative;
  top: 15%;
}

#welcome-text h1 {
  font-size: 6em
}

#welcome-text p {
  font-size: 1.5em
}

#welcome-text {
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
}

.home-category-list {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom:40px;
}

#home-category-list-title.panel{
  text-align: center;
  box-shadow: 2.5px 2.5px 5px grey;
  background-color: #FE9002;
  color: white;
  width: 100%;
  margin-bottom: 2em;
  padding:20px 0;
}

div.home-category-list-item {
  font-size: 2em;
  text-align: center;
  float:left;
  margin: 1.5em;
  width: 250px;
  height: 300px;
  border: 1px solid lightgray;
}

.home-category-list-item-image {
  width: 15vw;
}


/************************ CHANNEL ***********************/

/*video {
  width: 350px;
  height: 350px;
}*/
.channel-container{
  height:calc(100vh - 65px);
  overflow:hidden;
}
.main-channel-container{
  height: 100%;
  width: 100%;
    display: flex;
}

.main-channel-child {
  flex: 2;
  position: relative;
}

.media-box, .media-container{
  width:100%!important;
  height:100%!important;
  border:none!important;
  margin:0!important;
}
.videos-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video-feeds {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.empty-video{
  height:35vh;
  width:32vw;
  background:#eee;
  display:inline-block;
  flex-grow:0;
  flex-shrink:0;
  overflow:hidden;
  position: relative;
}
.empty-video.active{
  box-shadow:0px 0px 20px green;
  z-index:2;
  position:relative;
}
#empty-video-1{
  margin-right:50px;
}

.button-group{
  position: element(.button-group-wrapper);
  margin:0 auto;
  left:0;
  right:0;
  width:400px;
}
.button-group-wrapper{
  position: absolute;
  bottom:0;
}
.vote-button {
  position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -25px;
}

.vote-button-btn {
  height: 50px;
    width: 50px;
    color: #4ebf4e;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.vote-up {
  font-size: 49px;
    position: absolute;
    left: 50px;
    top: 0px;
}

svg {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

.modal-content{
  background-color: rgb(45, 45, 45);
  color: rgb(255, 255, 255);
  opacity: 0.98;
}

.modal-title{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 0.75em;
}

.modal-header{
  color: #FE9002;
  text-align: center;
  font-size: 2em;
}

.open-button{
  border-radius: 100%
}
/************************* ANNOUNCEMENTS *****************************/

@keyframes fadeInFadeOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0 } 
}

@keyframes stretch {
  0% {
    transform: scale(.1) rotate(300deg);
    background-color: rgba(50, 50, 50, 1);
  }
  100% {
    transform: scale(1) rotate(360deg);
    background-color: #FE9002;
   } 
}

#announcement-debate-container, #announcement-voting-container {
  position: absolute;
  left: 20%;
  bottom: 50%;
  height: 85px;
  opacity: 0;
  background-color: rgba(50, 50, 50, 1);
  color: white;
  box-shadow: 2px 2px 5px black;
  width: 55%;
  border-radius: 10px;
  font-size: 4em;
  text-align: center;
  animation-name: fadeInFadeOut;
  animation-duration: 4s;
  animation-timing-function: linear; 
  -webkit-animation-name: fadeInFadeOut;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear; 
  -moz-animation-name: fadeInFadeOut;
  -moz-animation-duration: 4s;
  -moz-animation-timing-function: linear; 
  z-index: 2;
}

#announcement-winner-container {
  position: absolute;
  left: 50%;
  margin-left: -218px;  
  bottom: 50%;
  height: 150px;
  background-color: #FE9002;
  color: white;
  box-shadow: 2px 2px 5px black;
  width: 55%;
  border-radius: 10px;
  font-size: 4em;
  text-align: center;
  animation-name: stretch;
  animation-duration: 1s;
  animation-timing-function: linear; 
  -webkit-animation-name: stretch;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear; 
  -moz-animation-name: stretch;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear; 
  z-index: 2;
}

#announcement-debate-headline, #announcement-voting-headline {
  line-height: 47.5px;
}

#announcement-winner-headline {
  line-height: 105px;
}
/************************ SINGLE CATEGORY CHANNEL LIST ***************/

.category-page-header-img{
  height: 100%;
  max-height: 39px;
  margin-left: 25px;
}

.category-channel-list {
  display: flex;
  flex-wrap: wrap;
}

.category-channel-list-item{
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
}

div.category-channel-list-item {
  font-size: 1em;
  text-align: center;
  margin: 1.5em;
  width: 400px;
  height: 200px;
}

.category-channel-list-item-image {
  width: 15vw;
}

/************************ USER PAGE ***********************/
.user-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-top: -100px;

}

.user-page-user-image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 15px;
}

.user-page-header {
  display: flex;
  justify-content: center;
}

.user-page-buttons {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 20px;
}

.user-page-user-buttons {
  margin-bottom: 10px;
}

.user-page-user-buttons > Button {
  margin-right: 15px;
}

.user-page-header-text {
  display: flex;
  flex-direction: column;
}

.user-page-form {
  position: absolute;
  left: 50%;
  margin-left: -115px;
  top: 25%;
  background-color: #ff9001;
  color: #ffe1c7;
  box-shadow: 3px 3px 3px grey;
  border-radius: 10px;
  z-index: 2;
}

.user-page-stats-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-page-stats-sidebar-form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.user-page-stats-sidebar div {
  margin: 10px;
}

.user-page-stats-sidebar-submit {
  width: 180px;
  margin-left: 10px;
}


.search-user {
  width: 25%;
  align-self: center;
  margin-top: 25px;
}

.search-user {
  width: 25%;
  align-self: center;
}

/************************ TIMER ***********************/

.flip {
  transform: scale(-1, 1);
}

#progressbar {
  position: relative !important;
  bottom: 20%;
  right: 3%;
}

/***************CHAT***********/
.chat {
  max-width: 250px;
  height: calc(100vh - 58px);
  border: 1px solid #aaa;
  padding: 0;
  box-shadow: 3px 3px 3px grey;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}

#chat-input{
  width: 100%;
  position: relative;
  bottom:0;
  height:40px;
  transition:0.25s all;
  box-sizing: border-box;
  font-size:12px;
  resize:none;
  outline:none!important;
  border-color:#aaa;
}

#chat-input:focus{
  border-color:#FE9002;
  box-shadow:0 0 6px -2px #FE9002
}

#chat-room-header {
  width: 100%;
  font-size: 30px;
  background-color: #FE9002;
  color: #ffe1c7;
  padding: 5px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0px 2px 3px black;
  position: relative;
  z-index: 1;
}

#chat-body {
  overflow: scroll;
  overflow-wrap: break-word;
  width: 100%;
  background-color: #eee;
  position: relative;
  z-index: 0;
  bottom: 90px;
  top: 0;
  height: 100%;
}

#send-message {
  position: inherit;
    bottom: -7px;
    width: 100%;
}

.chat-message{
  padding: 0px 7px;
  border-radius: 2px;
  font-size:0.9em;
  margin:5px 0;
}

.chat-message-even {
  /* background-color: #ff8f02; */
  color: #B16401;
}
.chat-message-odd {
  /* background-color: #ffe1c8; */
  color: #FE9002;
}

.message-author {
  font-size:1.1em;
  margin-right:5px;
  font-weight: bold;
}

.message-date {
  float: right;
  font-size:0.6em;
}

.chat-message-header {
  margin-bottom: -15px;
}

.container {
  margin-right: 0;
  margin-left: 0;
}

.transition-appear {
  opacity: 0.01;
}

.transition-appear.transition-appear-active {
  opacity: 1;
  transition: opacity .75s ease-in;
}


/* .shake {
  animation: shake 0.1s ease-in alternate 5;
}

@keyframes shake {
  0% {
    transform: translateX(0%)
  }

  50% {
    transform: translateX(20px)
  }

  100% {
    transform: translateX(-20px)
  }
} */

/********* REACTIONS **********/
#reaction-box {
  min-height: 24px;
}

.reaction-enter {
  opacity: 0.01;
}

.reaction-enter.reaction-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.reaction-leave {
  opacity: 1;
}

.reaction-leave.reaction-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

#reaction-buttons {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}