body {
  font-family: sans-serif;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

ul {
  list-style-type: none;
}

a:link, a:visited, a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 108, 250);
  text-decoration: none;
}

/************************ NAVBAR ***********************/

#nav-bar-logo.navbar-brand{
  width: 10vw;
  height: auto;
}

.navbar {
  background-color: white;
  background-image: none;
}

/************************ NAVBAR ***********************/


form div {
  margin: 1em;
  display: inline-block;
}

video {
  width: 350px;
  height: 350px;
}


.user-page-user-image {
  width: 171px;
  height: 171px;
}